.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.3s;
}
.entire-box {
  display: block;
  position: absolute;
  height: 100px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 65px;
  background-color: rgb(221, 221, 209);
  border-radius: 8px;
  position: absolute;
  transition: 0.3s; /* Add transition for a smooth effect */
}

.box-lid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 25px;
  background-color: beige;
  border-radius: 8px;
  position: absolute;
  /* transform: translateY(-2.4rem); */
  transition: 0.3s; /* Add transition for a smooth effect */
}

.lid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 25px;
  transition: 0.3s;
  transform: translateY(-2.4rem);
  transition: 0.3s;
}
.box-shadow {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transform: translateY(-1.65rem);
  width: 88px;
  height: 16px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.bow-right {
  position: relative;
  width: 35px;
  height: 25px;
  border-top-right-radius: 50%;
  background-color: rgb(216, 48, 48);
  transform: translateY(-0.6rem) rotate(-30deg);
  transition: 0.3s;
}
.ribbon-middle {
  height: 65px;
  width: 25px;
  position: absolute;
  background-color: rgb(216, 48, 48);
  transition: 0.3s;
}

.ribbon-middle-top {
  height: 25px;
  width: 25px;
  position: absolute;
  margin: auto;
  background-color: rgb(238, 52, 52);
  transition: 0.3s;
}

.bow-middle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 40%;
  background-color: rgb(180, 47, 47);
  transform: translateY(-0.6rem);
  transition: 0.3s;
}

.bow-left {
  position: relative;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background-color: rgb(216, 48, 48);
  transform: translateY(-0.6rem) rotate(30deg);
  transition: 0.3s;
}

.entire-box:hover {
  animation-name: bounce-1;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.container:hover .lid-container {
  animation-name: bounce-2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transition: 0.3s;
}
.lid-animation {
  animation-name: bounce-2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transition: 0.3s;
}
.container:active {
  transform: scaleY(0.85);
}

.box-open {
  animation-duration: 0.5s;
  transform-origin: left;
  transform: rotate(-85deg) translateY(2.1rem) translateX(1.5rem);
  transition: 0.1s ease-in-out;
}

.container:active {
  animation-name: bounce-1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
.container:active .lid-container {
  animation-name: bounce-2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transition: 0.3s;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(-2.4rem) scaleY(0.9);
  }
  30% {
    transform: translateY(-3.4rem) scaleY(0.98) rotate(3deg);
  }
  50% {
    transform: translateY(-2.4rem) scaleY(0.9) rotate(-20deg);
  }
  100% {
    transform: translateY(-2.4rem) scaleY(0.98);
  }
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0) scaleY(0.9);
  }
  30% {
    transform: translateY(-20px) scaleY(0.98);
  }
  50% {
    transform: translateY(0) scaleY(0.9);
  }
  100% {
    transform: translateY(0) scaleY(0.98);
  }
}
